<template>
    <div class="hello">
        <div class="image-container">
            <img ref="image" :src="src">
        </div>
        <img ref="image-destination" :src="destination" class="image-preview-30">
        <img ref="image-destination" :src="destination" class="image-preview-256">
        <img ref="image-destination" :src="destination" class="image-preview-500">
    </div>
</template>

<script>
    import Cropper from "cropperjs";

    export default {
        name: 'ImageCropper',
        props: {
            src: String
        },
        data() {
            return {
                cropper: {},
                destination: {},
                image: {}
            }
        },
        mounted() {
            this.image = this.$refs.image;
            this.cropper = new Cropper(this.image, {
                zoomable: false,
                scalable: false,
                aspectRatio: 1,
                crop: () => {
                    const canvas = this.cropper.getCroppedCanvas({ width: 500, height: 500 });
                    this.destination = canvas.toDataURL("image/png")
                }
            });
        }
    }
</script>

<style scoped>
    .image-container {
        width: 640px;
        height: 480px;
        float: left;
    }

    .image-preview-30 {
        width: 30px;
        height: 30px;
        float: left;
        margin-left: 20px;
    }

    .image-preview-256 {
        width: 256px;
        height: 256px;
        float: left;
        margin-left: 20px;
    }

    .image-preview-500 {
        width: 500px;
        height: 500px;
        float: left;
        margin-left: 20px;
    }
</style>
