<template>
    <div id="app">
        <ImageCrapper src="/logo.png"/>
    </div>
</template>

<script>
    import ImageCrapper from './components/ImageCropper.vue'

    export default {
        name: 'app',
        components: {
            ImageCrapper
        }
    }
</script>

<style>
</style>
